* {
    box-sizing: border-box;
}

button {
    display: block;
}

html {
    height: 100%;
    color: #3b3c45;
}

body, #root {
    height: 100%;
}

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.App__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 30px;
    background: #b4b5ba;
    font-weight: bold;
    text-align: center;
}

.Wordle {
    flex: 1;
    margin: auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.Wordle__board {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Modal__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    opacity: 0.5;
}

.Modal__content {
    width: calc(100% - 60px);
    max-width: 440px;
    max-height: 90%;
    z-index: 1;
    position: relative;

    padding: 25px;
    background: white;
    border: 2px solid #494c66;
}

.Modal__close {
    position: absolute;
    right: 5px;
    top: 5px;
    background: none;
    border: 0;
    font-size: 20px;
}

.Row {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
}

.Row--error {
    animation: shake 0.8s cubic-bezier(.36,.07,.19,.97) both;
}

.Row--red {
    color: #6b0303;
}
.Row--red .Letter {
    border-color: #b90707;
}

.Letter {
    height: calc(min(100vw, 500px, calc(100vh - 200px)) / 7 - 10px);
    width: calc(min(100vw, 500px, calc(100vh - 200px)) / 7 - 10px);
    line-height: calc(min(100vw, 500px, calc(100vh - 200px)) / 7 - 10px);
    font-size: calc(min(100vw, 500px, calc(100vh - 200px)) / 10);
    border: 2px solid #494c66;
    margin: 3px;
    text-align: center;
    transition: background 0.3s ease-in;
    font-weight: 500;
}

.KeyBoard {
    max-width: min(calc(100vw - 10px), 600px);
}

.KeyBoard__row {
    display: flex;
}
.KeyBoard__row:nth-child(2) {
    margin: 0 15px;
}

.KeyBoard__key {
    display: flex;
    flex: 1 0 0;
    height: 60px;
    width: 60px;
    border: 0;
    align-items: center;
    justify-content: center;
    margin: 2px;
    font-size: 20px;
    border: 2px solid #494c66;
    user-select: none;
}

.KeyBoard__enter {
    flex: 2 0 0;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.Play {
    margin: auto;
}

.Stats .Stats__kpis {
    margin-bottom: 5px;
}

.Stats .BarChart {
    margin-bottom: 20px;
}

.Stats__kpis {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.Stats__key {
    font-weight: bold;
}

.BarChart__row {
    display: flex;
    align-items: center;
}

.BarChart__label {
    flex: 0 0 1em;
    height: 25px;
    line-height: 25px;
    border-right: 1px solid;
    margin-right: 5px;
}

.BarChart__bar {
    background: #b4b5ba;
    height: 20px;
    min-width: 1em;
    text-align: right;
    padding-right: 4px;
}

.Settings__daily {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.Settings__daily button {
    width: 100px;
    padding: 5px;
}

.Settings__practice {
    margin-bottom: 10px;
}

.Settings__practice button {
    margin-bottom: 5px;
}

.grey {
    background: #b4b5ba;
}

.yellow {
    background: #dad306;
}

.green {
    background: #31d031;
}

.white {
    background: #f0f1f6;
}

.selected {
    background: #cfcfff;
}
